<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="XNotify" type="XNotify.Config.XNotifyConfigSection, XNotify"/>
  </configSections>
  <XNotify name="My Notification Service"
           description="Super duper remote monitoring and notification provider"
           version="0.0.0.1">
    <EventProviders path="C:\Projects\GitHub\XNotify\Output\EventProviders">
      <EventProvider name="FakeEventProvider00"
                     class="FakeEventProvider"
                     monitorInterval="6000"
                     enabled="true"/>
      <EventProvider name="FakeEventProvider01"
                     class="MyOtherFakeEventProvider"
                     monitorInterval="12000"
                     enabled="false"/>
    </EventProviders>
    <NotificationProviders path="C:\Projects\GitHub\XNotify\Output\NotificationProviders">
      <NotificationProvider name="FakeEmailNotificationProvider"
                            class="FakeEventProvider"
                            type="email"
                            enabled="true"
                            username="myAccount"
                            password="myPassword"
                            sid="myAccountToken"/>
      <NotificationProvider name="FakeSmsNotificationProvider"
                            class="FakeEventProvider"
                            type="SMS"
                            enabled="true"
                            username="myAccount" password="myPassword" sid="myAccountToken"/>
    </NotificationProviders>
  </XNotify>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>