<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="XNotify" type="XNotify.Config.XNotifyConfigSection, XNotify"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <XNotify name="My Notification Service"
           description="Super duper remote monitoring and notification provider"
           version="0.0.0.1"
           eventProvidersPath="C:\Projects\GitHub\XNotify\Output\EventProviders"
           notificationProvidersPath="C:\Projects\GitHub\XNotify\Output\NotificationProviders">
    <EventProviders>
      <EventProvider name="FakeEventProvider00"
                     assemblyName="XNotify.Tests.EventProviders.FakeEventProvider00.dll"
                     class="XNotify.Tests.EventProviders.FakeEventProvider00.FakeSqlEventProvider"
                     monitorInterval="6000"
                     enabled="true"/>
      <EventProvider name="FakeEventProvider01"
                     assemblyName="XNotify.Tests.EventProviders.FakeEventProvider01.dll"
                     class="XNotify.Tests.EventProviders.FakeEventProvider01.FakeMongoDbEventProvider"
                     monitorInterval="12000"
                     enabled="true"/>
    </EventProviders>
    <NotificationProviders>
      <NotificationProvider name="EmailNotificationProvider"
                            class="MailTrapProvider"
                            type="email"
                            enabled="true"
                            username="3465428e498143b6c"
                            password="d4b6e7c982e454"
                            sid="myAccountToken"/>
      <NotificationProvider name="SmsNotificationProvider"
                            class="TwilioProvider"
                            type="SMS"
                            enabled="true"
                            username="myAccount"
                            password="myPassword"
                            sid="myAccountToken"/>
    </NotificationProviders>
  </XNotify>
</configuration>