<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="XNotify" type="XNotify.Config.XNotifyConfigSection, XNotify"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <XNotify name="My Notification Service"
           description="Super duper remote monitoring and notification provider"
           version="0.0.0.1"
           eventProvidersPath="C:\Projects\GitHub\XNotify\Output\EventProviders"
           notificationProvidersPath="C:\Projects\GitHub\XNotify\Output\NotificationProviders">
    <EventProviders>
      <EventProvider name="FakeEventProvider00"
                     assemblyName="XNotify.Tests.EventProviders.FakeEventProvider00.dll"
                     assemblyFolder="FakeSqlEventProvider"
                     class="XNotify.Tests.EventProviders.FakeEventProvider00.FakeSqlEventProvider"
                     monitorInterval="6000"
                     enabled="true"/>
      <EventProvider name="FakeEventProvider01"
                     assemblyName="XNotify.Tests.EventProviders.FakeEventProvider01.dll"
                     assemblyFolder="FakeMongoDbEventProvider"
                     class="XNotify.Tests.EventProviders.FakeEventProvider01.FakeMongoDbEventProvider"
                     monitorInterval="12000"
                     enabled="true"/>
    </EventProviders>
    <NotificationProviders>
      <NotificationProvider name="MailTrapProvider"
                            assemblyName="XNotify.Tests.NotificationProviders.MailTrap.dll"
                            assemblyFolder="MailTrap"
                            class="XNotify.Tests.NotificationProviders.MailTrap.MailTrapEmailProvider"
                            type="email"
                            enabled="true"
                            username="3465428e498143b6c"
                            password="d4b6e7c982e454"
                            sid=""
                            token=""
                            server="mailtrap.io"
                            port="25"
                            protocol="SMTP"
                            ssl="true"/>
      <!--<NotificationProvider name="TwilioProvider-Test"
                            assemblyName="XNotify.Tests.NotificationProviders.Twilio.dll"
                            assemblyFolder="Twilio"
                            class="XNotify.Tests.NotificationProviders.Twilio.TwilioSmsProvider"
                            type="SMS"
                            enabled="true"
                            username="+14232713524"
                            password="myPassword"
                            sid="AC63c8886ff31e4b163e9cb2441f990289"
                            token="ad260ae0cb5a2683af64ab67186a0e28"
                            server=""
                            port=""
                            protocol="https"
                            ssl="true"/>-->
      <NotificationProvider name="TwilioProvider-Actual"
                            assemblyName="XNotify.Tests.NotificationProviders.Twilio.dll"
                            assemblyFolder="Twilio"
                            class="XNotify.Tests.NotificationProviders.Twilio.TwilioSmsProvider"
                            type="SMS"
                            enabled="true"
                            username="+14232713524"
                            password="myPassword"
                            sid="ACc782348738b5dfc97e92309e487bfef8"
                            token="c16ce4a7bf19e1368a92d290edb12ddf"
                            server=""
                            port=""
                            protocol="https"
                            ssl="true"/>
    </NotificationProviders>
  </XNotify>
</configuration>